.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  padding-top: 67px;
  padding-bottom: 2rem;
}

img {
  margin-bottom: 0%;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.MuiCardContent-root {
  padding: 0%;
}

.MuiCardContent-root {
  background-color: #fff;
  color: #6a0341;
  margin: 0%;
  padding: 8px;
}

.MuiCardActions-root {
  height: 20px;
  width: auto;
}

.match-icons {
  width: 10%;
}
